@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: url("fonts/Roboto/Roboto-Light..eot");
    src: url("fonts/Roboto/Roboto-Light..eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Light..woff") format("woff"), url("fonts/Roboto/Roboto-Light..woff2") format("woff2"), url("fonts/Roboto/Roboto-Light..ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/Roboto/Roboto-Regular..eot");
    src: url("fonts/Roboto/Roboto-Regular..eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Regular..woff") format("woff"), url("fonts/Roboto/Roboto-Regular..woff2") format("woff2"), url("fonts/Roboto/Roboto-Regular..ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: url("fonts/Roboto/Roboto-Medium..eot");
    src: url("fonts/Roboto/Roboto-Medium..eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Medium..woff") format("woff"), url("fonts/Roboto/Roboto-Medium..woff2") format("woff2"), url("fonts/Roboto/Roboto-Medium..ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url("fonts/Roboto/Roboto-Bold..eot");
    src: url("fonts/Roboto/Roboto-Bold..eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Bold..woff") format("woff"), url("fonts/Roboto/Roboto-Bold..woff2") format("woff2"), url("fonts/Roboto/Roboto-Bold..ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/Raleway/Raleway-Regular..eot");
    src: url("fonts/Raleway/Raleway-Regular..eot?#iefix") format("embedded-opentype"), url("fonts/Raleway/Raleway-Regular..woff") format("woff"), url("fonts/Raleway/Raleway-Regular..woff2") format("woff2"), url("fonts/Raleway/Raleway-Regular..ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway";
    font-weight: 500;
    font-style: normal;
    src: url("fonts/Raleway/Raleway-Medium..eot");
    src: url("fonts/Raleway/Raleway-Medium..eot?#iefix") format("embedded-opentype"), url("fonts/Raleway/Raleway-Medium..woff") format("woff"), url("fonts/Raleway/Raleway-Medium..woff2") format("woff2"), url("fonts/Raleway/Raleway-Medium..ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway";
    font-weight: 600;
    font-style: normal;
    src: url("fonts/Raleway/Raleway-SemiBold..eot");
    src: url("fonts/Raleway/Raleway-SemiBold..eot?#iefix") format("embedded-opentype"), url("fonts/Raleway/Raleway-SemiBold..woff") format("woff"), url("fonts/Raleway/Raleway-SemiBold..woff2") format("woff2"), url("fonts/Raleway/Raleway-SemiBold..ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    src: url("fonts/Raleway/Raleway-Bold..eot");
    src: url("fonts/Raleway/Raleway-Bold..eot?#iefix") format("embedded-opentype"), url("fonts/Raleway/Raleway-Bold..woff") format("woff"), url("fonts/Raleway/Raleway-Bold..woff2") format("woff2"), url("fonts/Raleway/Raleway-Bold..ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway";
    font-weight: 800;
    font-style: normal;
    src: url("fonts/Raleway/Raleway-ExtraBold..eot");
    src: url("fonts/Raleway/Raleway-ExtraBold..eot?#iefix") format("embedded-opentype"), url("fonts/Raleway/Raleway-ExtraBold..woff") format("woff"), url("fonts/Raleway/Raleway-ExtraBold..woff2") format("woff2"), url("fonts/Raleway/Raleway-ExtraBold..ttf") format("truetype");
  }
*{
    margin: 0;
    padding: 0;
    border: 1;
    font-size: 120%;
    font: inherit;
    vertical-align: baseline;
}
*::-webkit-scrollbar {
    width: 8px;
  }
*::-webkit-scrollbar-track {
   background: #EDEDF0;
}
*::-webkit-scrollbar-thumb {
    background-color: #85899D;
}
*{
    scrollbar-width: thin;
    scrollbar-color: #85899D #EDEDF0;
}
body{
    font-size: 120%;
    color: #85899D;
    font-family: "Raleway", sans-serif;
    font-feature-settings: "lnum";
    width: 100%;
}
.site{
    width: 100%;
    max-width: 100%;
}
.main__text,
.description__text,
.about__text{
    padding-bottom: 0.625em;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.about__list{
    padding-left: 25px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.header-menu__link,
.menu-main__link,
.contacts__link,
.list__link{
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    font-family: "Raleway", sans-serif;
}
.header-menu__link:hover,
.menu-main__link:hover,
.contacts__link:hover,
.list__link:hover{
    color: #009fe3;
}
.container--header,
.container--main,
.container--footer,
.container--copy{
    margin: 0 auto;
}
.container{
    max-width: 1440px;
    width: 100%;
}
.main-breadcrumps{
    padding: 20px 10px;
    color: #009fe3;
}
.header__logo{
    width: 100%;
    max-width: 324px;
}
.header__img{
    width: 100%;
}
.footer__img{
    max-width: 342px;
}
.header-menu{
    display: flex;
    gap: 25px;
}
.header__menu{
    padding: 20px 0 0;
}
.header-menu__item{
    white-space: nowrap;
}
.header-menu__link, .contacts__link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.contacts__link{
    color: #85899D;
}
.lang__link{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.header-top{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
}
.container--header,
.container--footer{
    padding: 38px 0;
}
.footer__logo{
    max-width: 540px;
}
.footer-info{
    display: flex;
    flex-direction: row;
}
.footer-info-title{
    font-weight: 600;
    font-size: 20px;
    color: #4b4b4b;
}
.footer-info-text{
    display: flex;
    flex-direction: column;
    color: #4b4b4b;
    margin-top: 6px;
}
.footer__link{
    color: #4b4b4b;
    text-decoration: none;
    transition: 0.5s;
}
.header-search__button{
    padding: 0;
    width: auto;
    height: 34px;
    outline: none;
    border: none;
    background-color: transparent;
}
.search-input{
    border: none;
    padding: 0 15px !important;
    font-size: 20px !important;
    font-weight: 500;
}
.header{
    position: sticky;
    top: 0;
    background-color: #fff;
    transition: 0.2s;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner__img{
    width: 100%;
}
.lang{
    width: 100px;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}
.contacts{
    display: flex;
    gap: 30px;
}
.header-main{
    display: flex;
    border-top: 1px solid rgba(52, 52, 51, 0.15);
}
.main-content__title{
    text-transform: uppercase;
    padding: 0 0 10px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
    grid-area: site-content__title;
}
.site-up{
    width: 70px;
    height: 70px;
    background-color: #009fe3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    position: fixed;
    top: 90%;
    right: 240px;
    cursor: pointer;
    opacity: 0;
}
.site-menu-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 0 0 15px;
    overflow: hidden;
}
.site-menu-title{
    text-align: center;
    background-color: #009fe3;
    color: #fff;
    padding: 10px 10px;
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-menu-title--readers,
.site-menu-title--authors{
    margin-bottom: 15px;
}
.main-content__title h1{
    font-size: 36px;
}
.main-description{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    grid-area: site-content__main;
}
.site-menu{
    grid-area: site-menu;
}
.main-content{
    display: grid;
    grid-template-areas: "site-content__title site-content__title"
                         "site-menu site-content__main";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: 300px 1fr;
    padding: 20px 0 20px 0;
    font-family: "Roboto";
}
.about{
    max-width:  100%;
    padding: 0 25px;
    font-size: 120%;
}
.description{
    width: 100%;
    font-size: 120%;
}
.footer__copyright{
    max-width: 100%;
    text-align: center;
    padding: 25px 0;
}
.footer{
    border-top: 2px solid #ededed;
    color: #fff;
}
.--current{
    color: #009fe3;
}
.container--footer{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.footer-info{
    width: 100%;
    height: inherit;
}
.footer__adress{
    width: 35%;
}
.footer-copy{
    background-color: #ededed;
    color: #85899D;
    padding: 30px 0;
}
.header-mobile{
    background-color: #fff;
    position: absolute;
    top: -270px;
    left: 0;
    width: 100%;
    display: block;
    transition-duration: 0.7s;
    z-index: -1;
}
.header-mobile-content{
    padding: 25px 0;
}
.header-mobile-burger{
    width: max-content;
    height: 33px;
    display: flex;
    cursor: pointer;
}
.header-menu-mob__link{
    text-decoration: none;
    font-family: "Raleway";
    color: #fff;
}
.header-mobile-top{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 20px 0;
}
.header-menu-mob__item{
    text-align: center;
    padding: 10px 0;
    border: 2px solid #ededed;
}
.header-menu-mob__item{
    background: #797979;
}

.lang--center{
    justify-content: center;
}
.burger-btn span i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4b4b4b;
    -webkit-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    -o-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
}
.burger-btn span::before, .burger-btn span::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #4b4b4b;
    -webkit-transition: background-color 0.3s, top 0.15s 0.15s, -webkit-transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, -webkit-transform 0.15s;
    -o-transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s, -webkit-transform 0.15s;
}
.burger-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.burger-btn span {
    display: block;
    position: relative;
    width: 22px;
    height: 3px;
    --rotateUp: 0;
    --rotateDown: 0;
    --top: 8px;
}
.burger-btn span::before{
    top: calc(var(--top) * (-1));
    transform: rotate(var(--rotateUp));
}
.burger-btn span::after{
    top: var(--top);
    transform: rotate(var(--rotateDown));
}
.site-menu-title-toggle{
    width: max-content;
    display: none;
}
@media(max-width: 1600px){
    .site-up{
        right: 25px;
    }
}
@media(max-width: 1480px){
    .container{
        max-width: 98%;
    }
}
@media(max-width: 1450px){
    .container--footer{
        padding: 38px 10px;
    }
    .container--copy{
        padding: 0 10px;
    }
}
@media(max-width: 1240px){
    .content-header{
        display: none;
    }
    .header__img{
        max-width: 100%;
    }
    .container--header{
        padding: 0 10px !important;
    }
    .content-header{
        display: none;
    }
    .content-header--mob{
        display: block;
    }
    .container--header{
        background: #fff;
        padding: 0;
    }
    .header__logo{
        width: unset;
    }
    .container{
        width: unset;
    }
}
@media(min-width: 1240px){
    .header-mobile,
    .header-mobile-top{
        display: none;
    }
    .content-header--mob{
        display: none;
    }
}
@media(max-width: 1140px){
    .footer__contacts{
        margin-left: 20px;
    }
}
@media(min-width: 768px){
    .burger-btn {
        width: 27px;
        height: 30px;
    }
    .burger-btn span {
        width: 25px;
        height: 3px;
    }
}
@media(min-width: 760px){
    .site-menu-title--readers{
        margin-top: 20px;
    }
}
@media(max-width: 760px){
    .site{
        width: 100%;
    }
    .main-content{
        grid-template-areas: "site-menu"
                             "site-content__title"
                             "site-content__main";
        grid-template-columns: 100%;
    }
    .container--footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-info{
        flex-direction: column;
        align-items: center;
    }
    .footer-info-title,
    .footer-info-text,
    .container--copy{
        text-align: center;
    }
    .footer__contacts{
        margin-top: 20px;
        margin-left: 0;
    }
    .site-menu-content{
        height: 0;
        transition: 0.5s;
    }
    .site-menu-title{
        cursor: pointer;
    }
    .journal{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .site-menu-title-toggle{
       display: block;
    }
    .main-content__title{
        margin-top: 25px;
    }
    .footer__adress{
        width: 100%;
    }
}
@media(max-width: 500px){
    .journal__img{
        width: 100%;
    }
}
@media(max-width: 390px){
    .main-content__title h1{
        font-size: 28px;
    }
}
@media(max-width: 375px){
    .footer__img{
        max-width: 240px;
    }
    .lang{
        width: 75px;
    }
}
@media(max-width: 340px){
    .search-input{
        padding: 0 5px !important;
    }
}
@media screen {
    .footer__link:hover{
        color: #009fe3;
    }
}